# dependencies
node_modules/

# environment
.env
.env.local

# local folders
.local

# build outputs
dist/
build/
out/
.next/

# system files
.DS_Store
.vscode/
*.log

# replit / temp configs
.replit
